/* * {
    border: 1px solid teal;
}  */
:root {
    --pale-sage: #BFF4CB;
    --sage: #84A98C;
    --dusty-emerald: #52796f;
    --deep-emerald: #354F52;
    --night-forest: #2F3E46;
}
/* Main layout */
body {
    background-color: var(--night-forest);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: var(--pale-sage);
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
main {
    min-height: 60vh;
    flex-grow: 5;
}
aside, nav {
    background-color: var(--dusty-emerald);
    flex-grow: 2;
}
footer, header {
    background-color: var(--sage);
    flex-grow: 1;
}                             
.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
/* Navigation */
nav {
    background: gray;
    margin: auto;
    border: 1px solid #c1c1c1;
    padding: 5px;
}
nav ul {
    margin: 0em;
    list-style: none;
}
nav li {
    display: flex;
    flex-direction: column;
    padding: 0 .5em;
}
nav a {
    color: #09f33c;
}
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main {
    max-width: 60%;
    }
   header, footer {
      width: 100%;
  }
  
}                   